.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-left: 80px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 50px 50px;
}
.cart-container{
    position: sticky;
    top: 0;
    background-color: #daebe8;
}

.choose-container{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 500px;
    bottom: 400px;  
}
.choose-btn{
    background-color: #6995ac;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 15px;
    margin: 15px;
    font-size: 15px;
    cursor: pointer;
}

@media screen and (max-width: 688px){
    .products-container{
        grid-template-columns: 1fr;
    }
} 
