.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-left: 50px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 40px 10px;
    gap: 25px;

}
.cart-container{
    position: sticky;
    top: 0;
    background-color: #daebe8;
}

.choose-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    position: sticky;
    top: 400px; 
}
.choose-btn{
    background-color: #6995ac;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    margin: 15px;
    cursor: pointer;
}

@media screen and (max-width: 688px){
    .products-container{
        grid-template-columns: 1fr; 
    }
    .container{
        display: flex;
        flex-direction: column-reverse;
    }
} 
