.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 10px;
    margin-left: 100px;
}
.products-container{
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
}
.cart-container{
    position: sticky;
    top: 0;
    background-color: #daebe8;
    height: 2000px;
}

.choose-btn{
    background-color: #6995ac;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 15px;
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
}

@media screen and (max-width: 688px){
    .products-container{
        grid-template-columns: 1fr;
    }
} 
