.product-container img {
  width: 270px;
  height: 200px;
}
.product-container{
  position: relative;
  padding-top: 20px;
  width: 315px;
  height: 500px;
  border: 1px solid #95A0A7;
  border-radius: 8px;
}
.btn-cart {
  width: 100%;
  background-color: #daebe8; 
  border: none;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  border-radius: 0px 0px 8px 8px; 
}
.btn-cart .btn-text{
     margin-right: 10px;
}
.price{
  font-size: 30px;
  position: absolute;
  left: 120px;
  bottom: 50px;
  text-align: center;
}